Repository rootkitoriginal/xRatEcosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-backend, eslint-frontend

.pre-commit-config.yaml:

# Pre-commit Configuration for Secret Detection
# Install: pip install pre-commit
# Setup: pre-commit install

repos:
  # Detect secrets before committing
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          - '--baseline'
          - '.secrets.baseline'
          - '--exclude-files'
          - 'package-lock.json'
          - '--exclude-files'
          - 'node_modules/'
          - '--exclude-files'
          - 'coverage/'
          - '--exclude-files'
          - '.secrets.baseline'

  # Check for merge conflicts
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args: ['--unsafe'] # Allow custom tags in YAML
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending

  # Prevent commits to main/master
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']
        stages: [commit]

  # ESLint for JavaScript/TypeScript
  - repo: local
    hooks:
      - id: eslint-backend
        name: ESLint Backend
        entry: bash -c 'cd backend && npm run lint'
        language: system
        files: '^backend/.*\.(js|jsx|ts|tsx)$'
        pass_filenames: false

      - id: eslint-frontend
        name: ESLint Frontend
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: '^frontend/.*\.(js|jsx|ts|tsx)$'
        pass_filenames: false

  # Prettier for formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|jsx|ts|tsx|json|css|md|yml|yaml)$'
        exclude: 'package-lock.json|.secrets.baseline'

chore: Update secrets baseline and package versions
  .secrets.baseline
  package-lock.json
Due: none

fix: Update Husky pre-commit hook for v10 compatibility
  .husky/pre-commit
  .secrets.baseline
Due: none

chore: refresh Dependabot cache for esbuild vulnerability check
  .dependabot-refresh.md
Due: none

fix(security): Force esbuild update in frontend to resolve GHSA-67mh-4wv8-2f99
  .secrets.baseline
  package-lock.json
Due: none

fix(security): Force esbuild update in frontend to resolve GHSA-67mh-4wv8-2f99 (#50)
  .secrets.baseline
  package-lock.json
Due: none

fix(ci): adjust jest coverage thresholds for socketService.js
  backend/jest.config.js
Due: eslint-backend

feat: enhance socketService.js test coverage to 46.88%
  backend/__tests__/unit/websocket/socketService.test.js
  backend/jest.config.js
Due: eslint-backend

feat: Phase 3 - Comprehensive WebSocket Event Handler Tests
  .secrets.baseline
  backend/__tests__/unit/websocket/socketService.test.js
  backend/jest.config.js
Due: eslint-backend

chore: update secrets baseline timestamp
  .secrets.baseline
Due: none

fix(tests): wrap React state updates in act() to eliminate CI warnings
  frontend/__tests__/unit/realtime/NotificationToast.test.jsx
Due: eslint-frontend

🔐 Fix JWT auth security issues based on Gemini suggestions
  backend/__tests__/unit/middleware/auth.test.js
  backend/__tests__/unit/security/jwt-edge-cases.test.js
  backend/src/middleware/auth.js
Due: eslint-backend

fix: resolve CI issues - correct TruffleHog flags and PR title format
  .github/workflows/pr-checks.yml
  .secrets.baseline
  backend/__tests__/unit/security/rate-limit-auth.test.js
  backend/__tests__/unit/utils/jwt.test.js
  backend/__tests__/unit/websocket/validators.test.js
Due: eslint-backend

ci: trigger workflow re-run after fixes
  README.md
Due: none

fix: update secrets baseline after line number changes
  .secrets.baseline
Due: none

update: refresh secrets baseline after security improvements
  .secrets.baseline
Due: none

fix: update secrets baseline timestamp
  .secrets.baseline
Due: none

fix: Update line numbers for detected secrets in SECURITY.md
  .secrets.baseline
Due: none

chore: sync secrets baseline timestamp
  .secrets.baseline
Due: none

test: add comprehensive JWT authentication edge cases & security testing (98 tests) (#56)
  .github/workflows/pr-checks.yml
  .secrets.baseline
  README.md
  backend/__tests__/unit/middleware/auth.test.js
  backend/__tests__/unit/security/jwt-edge-cases.test.js
  backend/__tests__/unit/security/rate-limit-auth.test.js
  backend/__tests__/unit/utils/jwt.test.js
  backend/src/middleware/auth.js
  docs/SECURITY.md
  docs/TESTING.md
Due: eslint-backend

🔧 Add comprehensive Redis connection edge cases & failover testing (41 tests) (#57)
  README.md
  backend/__tests__/unit/redis/redis-edge-cases.test.js
  docs/README.md
  docs/REDIS_RESILIENCE.md
  docs/REDIS_TEST_SUMMARY.md
Due: eslint-backend

🧪 Phase 4: Advanced WebSocket Testing - Achieve 90%+ Coverage (150 tests, 93.77% coverage) (#59)
  backend/__tests__/integration/websocket-auth.test.js
  backend/__tests__/unit/websocket/socketService.test.js
  docs/PHASE4_WEBSOCKET_TESTING_SUMMARY.md
  docs/WEBSOCKET_TESTING.md
Due: eslint-backend

feat(frontend): Add interactive dashboard widgets for data summary and recent activity (#58)
  frontend/__tests__/unit/widgets/DataSummaryWidget.test.jsx
  frontend/__tests__/unit/widgets/RecentActivityWidget.test.jsx
  frontend/src/components/widgets/DataSummaryWidget.css
  frontend/src/components/widgets/DataSummaryWidget.jsx
  frontend/src/components/widgets/RecentActivityWidget.css
  frontend/src/components/widgets/RecentActivityWidget.jsx
  frontend/src/pages/Dashboard.css
  frontend/src/pages/Dashboard.jsx
Due: eslint-frontend

feat(frontend): Add User Profile Management Page (#61)
  frontend/__tests__/unit/profile/ProfileDisplay.test.jsx
  frontend/__tests__/unit/profile/ProfileForm.test.jsx
  frontend/__tests__/unit/profile/ProfilePage.test.jsx
  frontend/src/App.jsx
  frontend/src/components/profile/ProfileDisplay.css
  frontend/src/components/profile/ProfileDisplay.jsx
  frontend/src/components/profile/ProfileForm.css
  frontend/src/components/profile/ProfileForm.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/ProfilePage.css
  frontend/src/pages/ProfilePage.jsx
  frontend/src/services/userService.js
Due: eslint-frontend

[WIP] feat(websocket): Add Real-Time Notifications (#62)
  IMPLEMENTATION_SUMMARY.md
  backend/__tests__/unit/controllers/dataController.notifications.test.js
  backend/__tests__/unit/controllers/dataController.test.js
  backend/src/controllers/dataController.js
  docs/API.md
  docs/WEBSOCKET.md
  docs/diagrams/notification-flow.md
  docs/examples/notification-demo.md
Due: eslint-backend

feat: Implement comprehensive WebSocket performance & stress testing suite (#60)
  README.md
  backend/__tests__/performance/README.md
  backend/__tests__/performance/websocket-memory.test.js
  backend/__tests__/performance/websocket-resources.test.js
  backend/__tests__/performance/websocket-stress.test.js
  backend/__tests__/performance/websocket-throughput.test.js
  backend/jest.config.js
  backend/package.json
  docs/PHASE5_PERFORMANCE_TESTING_SUMMARY.md
  docs/WEBSOCKET_PERFORMANCE_TESTING.md
  docs/WEBSOCKET_TESTING.md
Due: eslint-backend

fix: TruffleHog workflow configuration for push events
  .github/workflows/secret-scan.yml
Due: none

feat(backend): Implement API for User Profile Management (#63)
  backend/__tests__/integration/user.test.js
  backend/__tests__/unit/controllers/userController.test.js
  backend/src/controllers/userController.js
  backend/src/index.js
  backend/src/models/User.js
  backend/src/routes/userRoutes.js
  backend/src/utils/validation.js
Due: eslint-backend

Add comprehensive Socket.IO server internal methods testing (84 tests) (#64)
  backend/__tests__/unit/websocket/socketService.internals.test.js
  docs/ISSUE_52_IMPLEMENTATION_SUMMARY.md
  docs/PHASE4_WEBSOCKET_TESTING_SUMMARY.md
  docs/SOCKET_IO_INTERNAL_TESTING.md
Due: eslint-backend

feat(ci): implement branch name and PR title validation
  .github/workflows/pr-checks.yml
  docs/BRANCH_PR_VALIDATION.md
  docs/CONTRIBUTING.md
Due: none

chore(deps): remove esbuild override from frontend package.json
  frontend/package.json
Due: none

chore: Resolve merge conflicts and update baseline after Copilot integration
  .secrets.baseline
  frontend/src/pages/Dashboard.jsx
Due: eslint-frontend

feat: comprehensive testing improvements and documentation updates
  .secrets.baseline
  backend/__tests__/performance/websocket-resources.test.js
  backend/__tests__/performance/websocket-stress.test.js
  backend/__tests__/performance/websocket-throughput.test.js
  backend/__tests__/unit/security/jwt-edge-cases.test.js
  backend/__tests__/unit/websocket/validators.test.js
  docs/WEBSOCKET_TESTING.md
  frontend/__tests__/unit/profile/ProfileForm.test.jsx
  frontend/__tests__/unit/profile/ProfilePage.test.jsx
  frontend/src/components/profile/ProfileForm.jsx
Due: eslint-backend, eslint-frontend

fix: remove unused Server import from websocket auth test
  .secrets.baseline
  backend/__tests__/integration/websocket-auth.test.js
Due: eslint-backend

📚 Consolidate documentation structure - Remove duplicate READMEs and simplify naming (#66)
  .github/chatmodes/README.md
  .github/scripts/README.md
  README.md
  backend/__tests__/performance/README.md
  bin/README.md
  docs/README.md
  docs/WEBSOCKET_TESTING.md
  docs/automation-scripts.md
  docs/backend-setup.md
  docs/ci-validation.md
  docs/copilot-chatmodes.md
  docs/devops-tools.md
  docs/examples.md
  docs/frontend-setup.md
  docs/implementation-summary.md
  docs/local-testing.md
  docs/performance-testing.md
  docs/realtime-components.md
  docs/redis-testing.md
  docs/smoke-testing.md
  docs/websocket-performance.md
  docs/websocket-testing-summary.md
Due: none

feat: Sistema completo de configuração de mocks via .env
  .env.example
  .secrets.baseline
  README.md
  backend/__tests__/integration/api.test.js
  backend/__tests__/integration/websocket-auth.test.js
  backend/src/config/mockConfig.js
  docs/MOCK_CONFIGURATION.md
  frontend/src/App.jsx
  frontend/src/components/auth/RegisterForm.jsx
  frontend/src/components/debug/MockStatusIndicator.css
  frontend/src/components/debug/MockStatusIndicator.jsx
  frontend/src/components/realtime/ConnectionStatus.jsx
  frontend/src/components/widgets/DataSummaryWidget.jsx
  frontend/src/components/widgets/RecentActivityWidget.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/DataManagement.jsx
  frontend/src/services/authService.js
  frontend/src/services/dataService.js
Due: eslint-backend, eslint-frontend

fix: Corrigir testes quebrados após implementação de mocks
  .secrets.baseline
  backend/__tests__/performance/websocket-resources.test.js
  backend/__tests__/performance/websocket-stress.test.js
  backend/__tests__/unit/websocket/socketService.test.js
  frontend/__tests__/unit/auth/RegisterForm.test.jsx
  frontend/__tests__/unit/auth/UserProfile.test.jsx
  frontend/__tests__/unit/realtime/ConnectionStatus.test.jsx
  frontend/__tests__/unit/widgets/DataSummaryWidget.test.jsx
  frontend/__tests__/unit/widgets/RecentActivityWidget.test.jsx
Due: eslint-backend, eslint-frontend

chore: pin internal MongoDB and add VS Code connection
  docker-compose.yml
Due: none

Add package-lock.json to .gitignore and .dockerignore files
  .devcontainer/TROUBLESHOOTING.md
  .devcontainer/devcontainer.clean.json
  .devcontainer/devcontainer.fixed.json
  .devcontainer/fix-vscode-permissions.sh
  .devcontainer/prepare-environment.sh
  .devcontainer/troubleshoot.sh
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  backend/__tests__/setup/socketServiceMock.js
  frontend/Dockerfile
  frontend/src/components/realtime/WebSocketProvider.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/services/authService.js
  frontend/vite.config.js
Due: eslint-backend, eslint-frontend
