Repository rootkitoriginal/xRatEcosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-backend, eslint-frontend

eslint-backend:
  name: ESLint Backend
  entry: bash -c 'cd backend && npm run lint'
  language: system
  pass_filenames: false

eslint-frontend:
  name: ESLint Frontend
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix(devops): corrigir scripts husky para melhor compatibilidade de shell
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci: atualizar arquivos de workflows e configuração de labels
  .github/labeler.yml
  .github/workflows/gemini-dispatch.yml
Due: none

feat: Configure nginx as reverse proxy with HTTPS support
  .devcontainer/install-tools.sh
  .secrets.baseline
  IMPLEMENTATION_SUMMARY.md
  backend/Dockerfile
  backend/src/openapi.yaml
  docker-compose.yml
  docs/IMPLEMENTATION_SUMMARY.md
  docs/QUICKSTART.md
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

feat: Migrate all API routes to /api/v1 versioning pattern
  .secrets.baseline
  backend/src/index.js
  backend/src/openapi.yaml
  docker-compose.yml
  nginx/nginx.conf
Due: eslint-backend

fix: Add trust proxy config and legacy /health endpoint
  .secrets.baseline
  backend/src/index.js
Due: eslint-backend

fix: Update integration tests to use /api/v1 endpoints
  .secrets.baseline
  backend/__tests__/integration/data.test.js
Due: eslint-backend

test: Update integration tests to use /api/v1 endpoints
  .husky/pre-push
  .secrets.baseline
  backend/__tests__/integration/api.test.js
  backend/__tests__/integration/auth.test.js
  backend/__tests__/integration/rateLimiter.test.js
  backend/__tests__/integration/swagger.test.js
  backend/__tests__/integration/user.test.js
  backend/__tests__/unit/requestLogger.test.js
  backend/jest.config.js
Due: eslint-backend

chore: Update pre-push hook to exclude performance tests
  .husky/pre-push
Due: none

fix: Update OpenAPI spec endpoints to /api/v1 pattern
  backend/src/openapi.yaml
Due: none

test: Temporarily skip data.test.js integration tests
  backend/__tests__/integration/data.test.js
Due: eslint-backend

fix: Add missing vitest configuration for frontend tests
  frontend/vitest.config.js
Due: eslint-frontend

test: Add missing vitest setup file for frontend tests
  frontend/__tests__/setup.js
Due: eslint-frontend

chore: Temporarily skip frontend tests in pre-push hook
  .husky/pre-push
Due: none

test: Fix flaky timing test in redis-edge-cases
  backend/__tests__/unit/redis/redis-edge-cases.test.js
Due: eslint-backend

feat: implement comprehensive API versioning system
  .github/copilot/mcp.json
  .secrets.baseline
  README.md
  backend/src/api/v1/index.js
  backend/src/api/v2/index.js
  backend/src/api/versionManager.js
  backend/src/api/versions.js
  backend/src/index.js
  docs/API_VERSIONING.md
  docs/API_VERSIONING_IMPLEMENTATION_SUMMARY.md
  docs/CONTRIBUTING.md
  docs/QUICKSTART.md
  docs/README.md
  docs/XRAT_SCRIPT_GUIDE.md
  docs/backend-setup.md
  docs/frontend-setup.md
  xrat.sh
Due: eslint-backend

chore: update secrets baseline timestamp
  .secrets.baseline
Due: none

fix(security): patch vite CVE-2025-58751, CVE-2025-58752, and esbuild GHSA-67mh-4wv8-2f99
  .secrets.baseline
  frontend/package.json
  package-lock.json
Due: none

fix: prevenir command injection em comandos execSync
  __tests__/e2e/resilience/failures.spec.js
  __tests__/e2e/setup/global-setup.js
  __tests__/e2e/setup/global-teardown.js
Due: none

fix: adicionar porta 5173 ao baseURL do Playwright
  playwright.config.js
Due: none

fix: corrigir asserções ineficazes nos testes E2E
  __tests__/e2e/security/access-control.spec.js
  __tests__/e2e/websocket/connection.spec.js
  __tests__/e2e/websocket/realtime.spec.js
Due: none

fix: adicionar permissões explícitas ao workflow E2E
  .github/workflows/e2e-tests.yml
Due: none

docs: atualizar ano na documentação E2E
  __tests__/e2e/README.md
Due: none

feat: add MongoDB playground script for admin insertion
  .secrets.baseline
  E2E_IMPLEMENTATION_SUMMARY.md
  docs/E2E_CI_INTEGRATION.md
  docs/E2E_QUICK_REFERENCE.md
  docs/postman/playground-4.mongodb.js
Due: none

docs: update configuration and usage instructions for xrat.sh script
  docs/MOCK_CONFIGURATION.md
  docs/XRAT_SCRIPT_GUIDE.md
  docs/backend-setup.md
  docs/frontend-setup.md
Due: none

fix: update line numbers and timestamps in configuration files; improve documentation clarity
  .secrets.baseline
  README.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/E2E_CI_INTEGRATION.md
Due: none

chore: add end-to-end test result files to .gitignore
  .gitignore
Due: none

refactor: remove E2E test setup files and related helpers
  .dependabot-refresh.md
  __tests__/e2e/README.md
  __tests__/e2e/auth/login.spec.js
  __tests__/e2e/auth/registration.spec.js
  __tests__/e2e/auth/session.spec.js
  __tests__/e2e/data/bulk.spec.js
  __tests__/e2e/data/crud.spec.js
  __tests__/e2e/data/search.spec.js
  __tests__/e2e/profile/user-profile.spec.js
  __tests__/e2e/resilience/failures.spec.js
  __tests__/e2e/security/access-control.spec.js
  __tests__/e2e/setup/docker-compose.e2e.yml
  __tests__/e2e/setup/fixtures.js
  __tests__/e2e/setup/global-setup.js
  __tests__/e2e/setup/global-teardown.js
  __tests__/e2e/setup/helpers.js
  __tests__/e2e/websocket/connection.spec.js
  __tests__/e2e/websocket/realtime.spec.js
  __tests__/smoke/monitor.test.js
Due: none

chore: update secrets baseline to remove E2E test references
  .secrets.baseline
Due: none

Path conditions:
  eslint-backend: any of: ^backend/.*\.(js|jsx|ts|tsx)$
  eslint-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
